.collapsible-card {
  border: solid 1px #cdccd1;
  border-radius: 3px;
  margin: 0px -5px;
}

.collapsible-card > .card-header {
  display: flex;

  margin: -2px;
  padding: 10px;

  border: solid 1px #c1c1c1;
  border-radius: 4px;

  background: #e5e0ea linear-gradient(180deg, #e5e0ea, #dfd3ec) repeat-x;
  color: #777;
}

.collapsible-card > .card-header:hover {
  background: #bfb1cc linear-gradient(180deg, #bfb1cc, #a590b9) repeat-x;
  color: #FFFEFD;
}

.collapsible-card > .card-header > p {
  flex-grow: 1;
  margin-bottom: 0;
}

.collapsible-card > .card-header > i {
  flex-grow: 0;
}

.collapsible-card > .card-header > i.fancy-icon {
  margin-right: 10px;
  color: #333;
}

.collapsible-card > .card-body {
  padding: 10px;
}
